<% form_tag change_password_session_path, :method => :post do  -%>
  <div class="oneColForm">
     <input type="hidden" name="login" value="<%= params[:login]%>"></input>
    <ul>
      <li><%= label_tag 'Old Password' %> <span class="red">*</span> </li>
      <li><%= password_field_tag 'old_password', nil, :size => 35,
          :onCopy => "return false", :onDrag => "return false", :onDrop => "return false",
          :onPaste => "return false" %></li>
    </ul>
    <ul>
      <li><%= label_tag 'password' %> <span class="red">*</span> </li>
      <li><%= password_field_tag 'password', nil, :size => 35,
          :onCopy => "return false", :onDrag => "return false", :onDrop => "return false",
          :onPaste => "return false"  %></li>
    </ul>
    <ul>
      <li><%= label_tag 'Confirm Password' %> <span class="red">*</span> </li>
      <li><%= password_field_tag 'password_confirmation', nil, :size => 35,
          :onCopy => "return false", :onDrag => "return false", :onDrop => "return false",
          :onPaste => "return false"  %></li>
    </ul>
  </div>
  <div class="actions">
    <%= submit_tag 'Change Password', :id => "Submit", :class => 'button' %>
    <input type="button" class="button" value="Cancel" onclick="javascript:location.href='/'" />
  </div>
<% end -%>