<h1>Log In</h1>

<% form_tag session_path do -%>
<p><%= label_tag 'email', 'Email' %><br />
<%= text_field_tag 'email', @login %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag 'Log in' %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'forgot_password', forgot_password_session_path %></p>
<% end -%>
